@font-face {
    font-family: Random;
    src: url(../fonts/RG-StandardBook.ttf);
}

@font-face {
    font-family: Random Spacious;
    src: url(../fonts/RG-SpaciousBook.ttf);
}

/* Стили для основного контейнера */
body {
    font-family: Random, Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    position: relative;
    padding-bottom: 100px;
    min-height: 100%;
}

.centered-text h1 {
    font-size: 2em;
    font-family: Random Spacious, Arial, sans-serif;
}

.container :where(p) {

    margin: 0 auto;
    font-size: 1.5em;
}

header {
    background-color: #333;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav li {
    display: inline;
    margin: 15px 15px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

/* Стили для главного экрана */
.main-screen {
    position: relative;
    height: calc(100vh - 50px);
}

.background-image {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/backgroung-image-main.jpg') no-repeat center center;
    background-size: cover;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.centered-text {
    text-align: center;
}

/* Стили для заголовков и текста */
h1,
h2,
h3 {
    font-weight: bold;
}

section:not(:first-child):after {
    display: flex;
    content: "";
    border: 1px solid rgb(85,158,131);
    width: auto;
    margin: 3em 0;
}

h2 {
    font-size: 3em;
}

h3, p {
    font-size: 1.5em;
}

/* Стили для кнопок */
.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(85,158,131, 0.5);
    color: rgb(0, 0, 0);
    font-size: 1.5em;
    text-decoration: none;
    min-width: fit-content;
    border: 1px solid rgb(85,158,131);
    border-radius: 5px;
    cursor: pointer;
    transition: .3s;
}



.button:hover {
    font-size: 1.55em;
}

/* Остальные стили */
.description,
.learn-more,
.main-questions,
.team {
    background-color: #f5f5f5;
    padding: 20px;
    text-align: center;
}

#site-header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(85, 158, 131, 1);
    /* Полностью непрозрачный цвет */
    transition: background-color 0.3s;
    /* Для анимации изменения цвета */
    z-index: 1000;

}

#site-header ul {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    margin: 0;
}


.question {
    padding: 1.5em;
    border: 1px solid black;
    border-radius: 10px;
    max-width: 21em;
}

.main-questinons__questions {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: space-around;
    align-items: stretch;
    flex-direction: row;
}

.learn-more img {
    display: flex;
    align-content: center;
    width: 50%;
    min-width: 40vh;
    margin: 2em auto;
    border-radius: 25px;
}

.team {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.team__text {
    display: flex;
    width: 70vw;
    margin: 0 auto;
}

.team__text p {
    text-align: justify;
}

.team__desc {
    display: flex;
    flex-direction: column;
    width: 90%;
    
}

.team__text img {
    width: 20vw;
    align-self: center;
    border-radius: 100%;
}

.bonus-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bonus-companies {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-content: center;
}

.bonus-companies img {
    min-width: 10vw;
    padding: 5vh;
}

.bonus-desc {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    gap: 2.5em;
}

.bonus-item {
    max-width: 18em;
    min-width: 8em;
    display: flex;
    flex-direction: column;
    padding: 1em;
    border: 1px solid rgb(85,158,131);
    border-radius: 15px;
    justify-content: space-between;
}

.bonus-item img {
    min-width: 10vw;
}

.bonus-item p {
    margin: 1em 0;
}

.bonus__title {
    text-align: center;
}

.bonus-item img:after {
    display: flex;
    width: 100%;
content: "";

border: 1px solid black;
}

.trade-button {
    width: auto;
    
}

.count-bonuses {
    font-size: smaller;
}

.map {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    text-align: center;
}

.how-it-works__container {
    width: 80%;
    margin: 0 auto;
}

.how-main {
display: flex;
flex-direction: column;
}

.how-main :where(h2, .how-main__desc, .how-footer) {
    text-align: center;
}

.how-main__desc, .how-footer {
    font-size: 1.5em;
    margin: 1em 0;
display: flex;
    max-width: 80vh;
    align-self: center;
    flex: 1 1 20px;
}

.how-item {
    
    text-align: justify;
    align-self: center;
    padding: 1em;
    border: 1px solid rgb(85, 158, 131, 1);
    border-radius: 15px;
    margin: 1em 0;

    max-width: 50vh;
    flex: 1 1 50px;
}

footer {
    display: flex;
    background-color: rgb(85,158,131);
    color: white;
    font-size: small;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
    flex-wrap: wrap;

    position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	min-height: 100px;
    
    
}

.footer-content {
    display: flex;
    align-content: center;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: baseline;
    gap: 2em;
    padding: 0 -15px;
    margin: 0 15px;
}

.footer-section {
    display: flex;
    gap: 3em;
}

.footer-section__desc {
    display: flex;
    flex-direction: column;
    margin: 0;
}